body {
  font-family: "Pretendard";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  height: 100vh;
  width: 70vw;
}

h1 {
  margin-bottom: 4rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > * {
  height: 2.5rem;
  width: 100%;
}

form > input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form > input::placeholder {
  font-family: "Pretendard";
  font-size: 1rem;
}

.login_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.5rem;

  font-size: 0.8rem;
}

.login_menu > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

form > button {
  border: none;
  margin-bottom: 5px;
}

form > a {
  margin: 1.5rem 0;
  text-align: center;
}
